<% content_for :meta_tags do %>
<title>Kontakta mig när det gäller webbutveckling</title>
<% end %>

    <div class="jumbotron landing-splash contact">
      <div class="container">
        <h1 class="animated bounceInDown">Jag älskar webbsnack!</h1>
        <p class="animated bounceInRight">
            Det spelar ingen roll vem du är. Inte heller vad du söker.
            Såvida du skriver till mig om webb så är jag idel öra.
        </p>
      </div>
    </div>

<div class="container">
  <%= render 'waiting_time', show_button: false %>
  <% if @case.errors.any? %>
  <div class="alert alert-danger">
    <h3>
      <i class="fa fa-warning"></i> Vänta lite... 
    </h3>
    <p>
      Jag förstod inte riktigt allt du ville ha sagt. Följande fel måste rättas innan du skickar kontaktformuläret igen.
    </p>
    <ul>
    <% @case.errors.messages.values.each do |error| %>
      <% error.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_for :case, url: customer_case_path(id: @case.id), html: { multipart: true } do |f| %>
    <div class="form-group">
      <%= f.label 'Namn', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Vem är du?', data: { "validation" => "length", "validation-length" => "min20", "validation-error-msg" => "Vad heter du?"} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label 'Mailadress', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.email_field :email_address, class: 'form-control', placeholder: 'Din mailadress' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label 'Ärende', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_area :message, rows: '10', class: 'form-control', placeholder: 'Berätta vad du vill veta eller ha hjälp med...', data: { "validation" => "length", "validation-length" => "min30", "validation-error-msg" => "Beskriv ditt ärende detaljerat."} %>
      </div>
    </div>   
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
          <%= button_tag type: :submit, class: 'btn btn-success contact-form-button' do %> 
              <i class="fa fa-envelope"></i> Skicka
          <% end %>
      </div>
    </div>
  <% end %> 
</div>