<% content_for :meta_tags do %>
<title>Webbutvecklingsbyrån med det lilla extra</title>
<% end %>
    <div class="jumbotron landing-splash home">
      <div class="container">
        <h1 class="animated bounceInDown">Din webbdröm. Mitt uppdrag.</h1>
        <p class="animated bounceInRight">
            Hej! Mitt namn är <%= link_to 'Merkur', merkur_path %>. En webbentreprenör med djupa kunskaper inom webbutveckling. Oavsett hur stort, galet eller litet ditt webbprojekt är så är jag idel öra!
        </p>
        <p class="landing-splash-buttons animated bounceInLeft">
                <%= link_to 'Kontakta mig', contact_path, class: 'btn btn-primary btn-lg' %>
                <em class="small">eller</em>
                <%= link_to 'Låt dig inspireras', projects_path, class: 'btn btn-default' %>        
        </p>
      </div>
    </div>
<div class="container">        
    <!-- Quick services' info -->
    <div class="row quick-about-services">
        <div class="col-md-4 col-sm-12">
            <div class="quick-about-services-icon">
                <%= image_tag('circle-icons/full-color/dev.png', class: 'img-responsive') %>
            </div>
            <h2>
                Seriös utveckling
            </h2>
            <p>
                Med Metsson kan du bara luta dig tillbaka och veta att enbart <strong>webbstandard</strong> samt <strong>professionella</strong> lösningar gäller.
            </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="quick-about-services-icon">
                <%= image_tag('circle-icons/full-color/rocket.png', class: 'img-responsive') %>
            </div>            
            <h2>
                Webbhotell ingår
            </h2>
            <p>
                Igenom din nya webbapplikation får du även webbhotell där säkerhet och supersnabba svarstider är en självklarhet. Helt <strong>kostnadsfritt</strong> första året!

            </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="quick-about-services-icon">
                <%= image_tag('circle-icons/full-color/lightbulb.png', class: 'img-responsive') %>
            </div>            
            <h2>
                Erfaret affärssinne
            </h2>
            <p>
                Oavsett om du är ny på webben eller inte så får du alltid tips av mig om olika <strong>affärsmodeller</strong>
                för din nya webbidé.
            </p>
        </div>           
    </div><!-- Quick services' info -->
    <%= render 'waiting_time', show_button: true %>
</div><!-- container -->