<% content_for :body_id do %>
id="portfolio"
<% end %>

<% content_for :meta_tags do %>
<title>Mina senaste projekt</title>
<% end %>
<div class="container" id="showcase">
    <div class="row header">
        <div class="col-md-12">
            <h1 class="animated bounceInDown">
                Några webbprojekt
            </h1>
            <p class="animated bounceInUp">
                <%= link_to 'Här', projects_path %> listar jag ett axplock av mina 
                applikationer. Målet är att dels få dig att förstå hur mycket innovativt tänk som finns att tillgå ifrån min sida, dels försäkra dig om att möjligheterna är obegränsade genom att kombinera <strong>min kompetens</strong> med <strong>din webbidé</strong>.
            </p>
        </div>
    </div>
    <div class="row">
        <% @projects.each do |project| %>    
        <div class="col-md-12">
            <div class="project">
                <h3>
                    <%= project.title %>
                </h3>
                <div class="screen">
                    <% if project_has_thumbnails? project %>
                        <% get_primary_pictures(project).each do |picture| %>
                            <%= link_to project_path(id: project.id, title: project.url_title) do %>
                                <%= image_tag picture.avatar.url(:medium), class: "img-responsive" %>
                            <% end %>            
                        <% end %>
                    <% end %>
                </div>
                <p class="description">
                <%= truncate(project.short_description, length: 200) { link_to " Läs mer", project_path(id: project, title: project.url_title)} %>
                </p>
                <div class="divider"></div>
                <div class="visit">
                    <%= link_to project_path(id: project.id, title: project.url_title), class: 'button' do %>
                        <i class="fa fa-chevron-right"></i>
                        Till projekt
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>