<%= form_for @project, url: manager_projects_path(id: @project.id), html: { multipart: true }, class: 'form-horizontal' do |f| %>
  <div class="form-group">
    <%= f.label 'Title', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Project title' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'URL-friendly title', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :url_title, class: 'form-control', placeholder: 'Enter URL-friendly' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Short descrption', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :short_description, rows: '4', class: 'form-control', placeholder: 'Describe the project within 250 characters' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Long descrption', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :long_description, rows: '15', class: 'form-control', placeholder: 'Describe the project in details' %>
    </div>
  </div>  
  <div class="form-group">
    <% if @project.project_pictures.size > 0 %>
      <p>Remove attached pictures</p>
      <% @project.project_pictures.each  do |image| %>
          <div class="checkbox">            
            <%= f.label 'Delete', class: 'col-lg-2 control-label' do %>            
            <%= check_box_tag 'deleted_images[]', image.id  %>
            <%= image_tag image.avatar.url(:thumb) %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>  
  <div class="form-group">
    <%= f.label 'Project pictures', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>  
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= link_to 'Cancel', manager_root_path, class: 'btn btn-danger' %>
      <%= f.submit :save, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>